h1, p ,div {
  font-family: Lato;
}

.card{
  background-color: #ffffff;
  color: midnightblue;
  padding: 10px 15px;
  box-shadow: 0 3px 3px rgba(0,0,0,0.5);
  margin-top:1em; 
}

.likeButton {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 12px 18px;
  text-decoration: none;
  margin: 2px 1px;
  cursor: pointer;
  font-family: Lato;
}